@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}

.viewing-result {
  // background-color: brown;
  position: relative;
  @include animation($name: kf-item-result);
  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: 2;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background-color: burlywood;
  //   @include animation($name: kf-animation);
  // }
}

@keyframes kf-animation {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  // 100% {
  //   left: 0;
  //   right: 100%;
  // }
  100% {
    left: 100%;
    right: 0;
  }
}
@keyframes kf-item-result {
  0% {
    // visibility: hidden;
    left: 150;
    right: 100%;
  }
  50% {
    left: -50;
    right: 0;
  }
  // 100% {
  //   left: 0;
  //   right: 100%;
  // }
  100% {
    left: 0;
    right: 0;
  }
}
